<!-- Footer -->
<footer class="footer font-small blue pt-4 mt-5" style="">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-md-0 mt-3">

                <!-- Content -->
                <h3 class="text-uppercase">ABOUT US</h3>
                <p><strong>Food.com</strong>, ist tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters..</p>

                <ul class="list-unstyled">
                    <li><span class="fa fa-map-marker"></span> 33397 G&uuml;tersloh NRW, Wapelbach 12</li>
                    <li><span class="fa fa-phone"></span> +49 5241 789543</li>
                    <li><span class="fa fa-envelope"></span> <a href="mailto:support@food.com">support@food.com</a></li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <h3>NEWSLETTER</h3><p>Abonniere unseren kostenlosen <strong>Food.com</strong> Newsletter via E-mail. Das Abo ist jederzeit kündbar.</p>
                <form method="post">
                    <div class="input-group">
                            <input type="email" class="form-control" name="email" placeholder="Deine Email..." required="">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary fa fa-paper-plane-o"></button>
                        </div>
                    </div>
                </form>
                <p class="newsletter-desc"> <strong>Kein spam:</strong> consectetur adipisicing elit lorem ipsum.</p>
            </div>

        <!-- Grid column -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">

            <h3 class="text-uppercase">Share It!</h3>

            <ul class="list-unstyled">
                <li>
                    <a href="#!"><span class="fa fa-2x fa-twitter pr-2"></span></a>
                    <a href="#!"><span class="fa fa-2x fa-facebook pr-2"></span></a>
                    <a href="#!"><span class="fa fa-2x fa-instagram pr-2"></span></a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Footer Links -->



    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: darkgray">© 2019 Copyright:
        <a href="https://food.com/"> food.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->